<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.bun.miitmdid,com.easyads.supplier.ks,com.kwad.sdk,com.flayone.oaid,com.miui.zeus.mimo.sdk,com.bytedance.sdk.openadsdk" />

    <!-- 必须要有的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 可选权限，申请后用于防作弊功能以及有助于广告平台投放广告 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />   
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN" />
    <permission android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN" android:protectionLevel="signature" />   
    <!-- 建议添加“query_all_package”权限，穿山甲将通过此权限在Android R系统上判定广告对应的应用是否在用户的app上安装，避免投放错误的广告，以此提高用户的广告体验。若添加此权限，需要在您的用户隐私文档中声明！ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" /> 
    <!-- 第三方广告可选权限 -->  
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />     -->
    <!--第三方广告可选suppress DeprecatedClassUsageInspection -->    
    <!-- <uses-permission android:name="android.permission.GET_TASKS" />     -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />   -->
    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->

    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup">
<!--        android:allowBackup="true"-->
<!--        android:hardwareAccelerated="true"-->
<!--        android:networkSecurityConfig="@xml/netwc"-->
<!--        tools:replace="android:allowBackup">-->

<!--        <activity-->
<!--            android:name="com.capacitorjs.plugins.easyads.MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity android:name="com.capacitorjs.plugins.easyads.activity.SplashActivity" />
        <activity android:name="com.capacitorjs.plugins.easyads.activity.NativeExpressActivity" />
        <activity android:name="com.capacitorjs.plugins.easyads.activity.RewardVideoActivity" />
        <activity android:name="com.capacitorjs.plugins.easyads.activity.BannerActivity" />
        <activity android:name="com.capacitorjs.plugins.easyads.activity.FullScreenVideoActivity" />
        <activity android:name="com.capacitorjs.plugins.easyads.activity.InterstitialActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.capacitorjs.plugins.easyads.activity.SplashToMainActivity" />
        <activity android:name="com.capacitorjs.plugins.easyads.activity.NativeExpressRecyclerViewActivity" />
        <activity android:name="com.capacitorjs.plugins.easyads.activity.DrawActivity" android:configChanges="keyboard|orientation|screenSize" />
        <activity android:name="com.capacitorjs.plugins.easyads.activity.CustomActivity" />

        <!-- 小米广告SDK需要 -->
<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="${applicationId}.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/xm_file_paths"/>-->
<!--        </provider>-->

    </application>

</manifest>